<div class="row">
      <div class="col text-center">
            <h1><%= @event.fulltime %></h1>
      </div>
</div>    

<div class="row">
      <div class="col text-center">
            <%= form_with(model: @event, url: fill_in_perfect_shift_path(@event), html: {method: :patch},local: false) do |f| %>
                  <%= f.submit "シフトに入る",   class: "btn btn-primary js-event-create-btn" %>
            <% end %>
            <% if logged_in? %>
                  <%= form_with(model: @event, url: individual_shift_path(@event), html: { method: :delete }, local: false) do |f| %>
                        <%= f.submit "消去", class: "btn btn-primary" %>
                  <% end %>
                  <%= form_with(model: @event, url: direct_change_perfect_shift_path(@event), html: {method: :patch},local: false) do |f|%>
                        <%= f.label      :staff_name, "イエローラインを埋めてくれる従業員の氏名", class: "pull-left" %>
                        <%= f.text_field :staff_name, class: 'form-control' %>
                        <%= f.submit "交代を直接反映する",   class: "btn btn-primary js-event-create-btn" %>
                  <% end %>
            <% end %>
      </div>
</div>        